<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidconcept">
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Services.AppNotification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidConcept">
        <activity android:name=".Services.NotificationServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RoomDataBase.Excersize2.RoomDataBaseActivity2">

        </activity>
        <activity android:name=".RoomDataBase.Excersize1.RoomDataBaseActivity" />
        <activity android:name=".AccessFromAssests.AssestAccess" />
        <activity android:name=".FirebaseConcept.FireBase3" />
        <!--
  <activity android:name=".Audio_to_text.VoiceText">

        </activity>
        -->
        <activity android:name=".FirebaseConcept.Firebase2Activity" />
        <activity android:name=".FirebaseConcept.LoginActivity" />
        <activity android:name=".FirebaseConcept.RegisterACt" />
        <activity android:name=".FirebaseConcept.FireBaseActivity" />
        <activity android:name=".CardView.CardView" />
        <activity android:name=".Reterofit.RetrofitActivity" /> <!-- static recevier -->
        <!--
  <receiver android:name=".BrodcastRecevier.BrodcastRecevier" android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        -->
        <service android:name=".Services.MyService" />

        <activity android:name=".Services.MainActivity" />
        <activity
            android:name=".Drawer.DrawerActivity"
            android:theme="@style/NoActionBar" />

        <receiver android:name=".Notification.NotificationActivity$NotificationRecevier" />

        <activity android:name=".Notification.NotificationActivity" />
        <activity android:name=".ProgressBar__ProgressDialog.progressBar_Concept" />
        <activity android:name=".TabWithRecylcer.TabLayoutConcept" />
        <activity android:name=".RecycleView_concept.recycleView_concept" />
        <activity android:name=".RadioGroup.Radio_Group_concept" />
        <activity android:name=".Switch.switch_concept" />
        <activity android:name=".Spinner.SpinnerConcept" />
        <activity android:name=".Scrollview.ScrollViewConcept" />
        <activity android:name=".GridView.GridViewConcept" />
        <activity android:name=".BaseAdapter.ListViewAdapter" />
        <activity android:name=".BaseAdapter.BaseAdapterConcept" />
        <activity android:name=".FrameLayout.FrameLayout" />
        <activity android:name=".TableLayout.TableLayout_concept" />
        <activity android:name=".RelativeLayout.RelativeLayoutConcept" />
        <activity android:name=".ConstraintLayout.ConstraintLayoutConcept" />
        <activity android:name=".LinearLayout.linearLayoutConcept" />
        <activity android:name=".MainActivity" />
        <!--register the services -->
        <service android:name=".Services.NotificationServices"/>
    </application>

</manifest>